<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <!--<p class="subtitle has-text-grey">Please login to proceed</p>-->

        <div class="box">
          <form [formGroup]="loginForm" novalidate>
            
            <div class="field">
              <div class="control">
                <input type="email" class="input is-large" placeholder="Email" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input type="password" class="input is-large" placeholder="Password">
              </div>
            </div>

            <div class="field">
              <div class="checkbox">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember Me
                </label>
              </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" [disabled]="loginButtonStatus == 'disabled'">Login</button>
          </form>
          <hr/>

          <button
            class="button button-google is-block is-fullwidth"
            [class.is-loading]="googleButtonStatus == 'loading'"
            [disabled]="googleButtonStatus == 'disabled'"
            (click)="googleLogin()">
            <span class="icon"><i class="fab fa-google"></i></span>
            <span>Sign in with Google</span>
          </button>
        </div>

        <p class="has-text-grey">
          <a [routerLink]="['/signup']">Sign Up</a> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>