<access></access>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar, purus ut tempor tempor, elit mi consectetur tortor, in malesuada risus sapien in elit. Nulla at porta nunc. Praesent non tempus dolor, lobortis porttitor ipsum. Curabitur ut metus id lectus mattis gravida. Nam scelerisque, dolor id ullamcorper lobortis, neque eros blandit orci, id pharetra turpis justo eu ipsum. Morbi nec sem in magna varius congue. Curabitur convallis a mauris id tempor. Maecenas nec nibh lorem. Vestibulum rhoncus purus eros, ac consectetur libero cursus ut.</p>


<!--<a href="#" (click)="getBatteryLevel()">Get Battery Level ({{batteryLevel || 'N/A'}}%)</a>-->