<nav class="navbar is-transparent is-fixed-top" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4	has-text-primary has-text-weight-bold">
      <!--<img src="http://via.placeholder.com/112x28" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
      <span class="kompleks-brand-title">Kompleks</span>
    </a>

    <div class="navbar-burger" [class.is-active]="menuActive" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [class.is-active]="menuActive">
    <div class="navbar-start">
      <a class="navbar-item" href="#">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span>Home</span>        
      </a>
    </div>
    
    <div>
      <a class="navbar-item" href="#">
        <span class="icon">
          <i class="fas fa-key"></i>
        </span>
        <span>Logout</span>
      </a>
    </div>
  </div>
</nav>