<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        
        <h3 class="title has-text-grey">Sign Up</h3>

        <div class="box">
          <form [formGroup]="signupForm" novalidate>
            
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input
                  type="email"
                  class="input"
                  [class.is-success]="email.valid"
                  [class.is-danger]="email.invalid && email.dirty && email.touched"
                  placeholder="Email"
                  autofocus=""
                  formControlName="email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span *ngIf="email.valid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
                <span *ngIf="email.invalid && email.touched" class="icon is-small is-right">
                  <i class="fas fa-times"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <input
                  type="password"
                  class="input"
                  placeholder="Password"
                  formControlName="password">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                <input
                  type="password"
                  class="input"
                  placeholder="Confirm Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
              </div>
            </div>

            <button
              class="button signup-button is-block is-info is-fullwidth"
              [disabled]="!signupForm.valid"
              (click)="signUp()">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
