/* You can add global styles to this file, and also import other style files */

$font-palanquin: "Palanquin";
$font-titillium-web: "Titillium Web";

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

body {
  font-family: $font-palanquin;
  font-size: 14px;
  @include font-smoothing;
  color: darken(white, 5%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-titillium-web;
  font-weight: 700;
}

h1 {
  color: #00bfc2;
  font-size: 3rem;
}
