/* You can add global styles to this file, and also import other style files */

$font-pt-sans: "PT Sans";
$font-family: $font-pt-sans;

@import "./assets/bulma";

/*$aqua: #00ced1;
$blueberry: #2575fc;
$grape: #6a11cb;
$darkcloud: #8f959a;

$red: #f44336;
$green: #4caf50;

$primary-color: $blueberry;
$link-color: darken($primary-color, 5%);*/


//@import "./assets/skeleton";

/*button,
.button {
  .far, .fab {
    padding-right: 0.2rem;
    font-size: 1.4rem;
    font-weight: normal;
  }
}

button.red,
.button.red {
  color: $red;
  border-color: $red;

  &:hover {
    color: darken($red, 15%);
    border-color: darken($red, 15%);
  }
}

button.green,
.button.green {
  color: $green;
  border-color: $green;

  &:hover {
    color: darken($green, 15%);
    border-color: darken($green, 15%);
  }
}

/*@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

body {
  font-family: $font-palanquin;
  font-size: 14px;
  @include font-smoothing;
  background: darken(white, 5%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-titillium-web;
  font-weight: 700;
}

h1 {
  color: #00bfc2;
  font-size: 3rem;
}*/
